<div>
  <aside>
    <div>Profile</div>
    <nav>
      <ul>
        <li>General Rooms</li>
        <li>Community Rooms</li>
        <li>Settings</li>
      </ul>
    </nav>
  </aside>
  <div>
    <h2>Welcome to Suneater a real time chat app</h2>
    <div>List of general rooms or community rooms</div>
  </div>
</div>
